---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "En búsqueda de un empleo como desarrollador",
    description:
      "No tengo experiencia laboral como programador. En unos meses comienzo las prácticas de fin de grado, con las que obtendré mi primera experiencia como desarollador web. A pesar de no tener experiencia, ya he realizado varios proyectos personales.",
    link: "/MariomgDev/#proyectos",
  },
  {
    date: "Junio 2019 - Agosto 2023",
    title: "Socorrista Acuático  − Ozonio",
    description:
      "He trabajado como socorrista en piscinas de Madrid durante varios veranos completos. Este primer trabajo me ayudó a adquirir una primera toma de contacto con el mundo laboral y gestionar nuevas responsabilidades como el mantenimiento de piscinas.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
